
@{
    ViewData["Title"] = "TermsAndConditions";
}

<p>
    This Agreement is between the relevant SNAGP affiliate (S.N.A.G.P. CORPORATION) listed in the SNAGP Affiliate Addendum to this Agreement and the Company (INDIVIDUAL NAME & ADDRESS) to whom SNAGP has agreed to supply Products and/or Services to via a SNAGP Program Enrolment. The following terms and conditions govern the trading relationship between SNAGP and Company.
    <br><br>
    The parties agree as follow:<br><br>
    1. EQUIPMENT. OWNER rents to RENTER and RENTER rents from OWNER, subject to the following terms and conditions of this agreement. See Rental Quotation ANNEX"A"<br>
    2. QUALIFICATION OF RENTAL PAYMENT, approval of individual requirements.<br><br>
    a. Certificate of Employment (COE)<br><br>
    b. Valid ID (two kind of government/Passport, Driver license or other)<br><br>
    C. Registered SIM Card Account with Mobile Number<br><br>
    d. Cheque book with Postdated checks or Credit Card on the duration of this Rental Agreement<br><br>
    RENTER also pays other charges (loss, stolen, repairing, penalties) in accordance with his Agreement including but not limited to:<br><br>
    e. charges for optional services, if any;<br><br>
    f. applicable taxes;<br><br>
    g. 100% valuation price from loss, or stolen, actual repairing expenses from any damage or repair of the equipment's value caused by damage to it or repair to it, and costs to enforce such charges including administrative fees for processing the claim and legal expenses;<br><br>
    h. a 50% equivalent to hours rental charge per unit for late return of the Equipment;<br><br>
    i. unless due to the fault of the OWNER, all fines, penalties, court costs and other expenses relating to the equipment assessed against OWNER or the Equipment during the rental term;<br><br>
    j. all expenses OWNER incurs due to RENTER'S failure to return the Equipment including costs in locating and recovering the Equipment and;<br><br>
    k. all costs incurred to collect unpaid monies due The rental and other charges are due without the need of demand and considered overdue if not paid on or before the due date indicated in the invoice.<br><br>
    RENTER pays an interest rate of ONE HALF OF ONE PERCENT (1/2 of 1%) per month of all overdue accounts.<br><br>

    4. SECURITY DEPOSIT. The RENTER must pay a deposit of 20% of the assessed value of the rental equipment. the Security deposit is refund end of rental.. The advance rent should be paid thru Manager's check or cash THREE (3) DAYS prior to the delivery of the equipment.<br><br>

    5. SECURITY DEPOSIT. A non-interest bearing security deposit equivalent to One (1) MONTHS RENT shall be required from RENTER as security for any damages caused by RENTER or RENTER'S AGENTS/REPRESENTATIVES to the equipment during the lease term. OWNER may use part of all of the security deposit to repair any damage to Equipment caused by RENTER or RENTER'S AGENTS/REPRESENTATIVE. However, OWNER is not limited to the security deposit amount and RENTER remains liable for any balance. RENTER shall not apply or deduct portion of any security deposit from the last or any month's rent. RENTER shall not use or apply any such security deposit at any time in lieu of payment of rent. If RENTER breaches any term or conditions of this Agreement, OWNER shall forfeit any deposit.<br><br>

    The security deposit shall be paid simultaneously with the signing of this Agreement and shall be refunded to RENTER within THIRTY (30) DAYS after RENTER's performance of all obligations in this Agreement.<br><br>

    6. DELIVERY. OWNER delivers the Equipment to RENTER's designated place or premise. RENTER should not remove the Equipment from the agreed location as the place of use of the Equipment without prior written approval of OWNER. RENTER informs OWNER upon demand of the exact location of the Equipment while it is in RENTER's possession.<br><br>

    7. USE. Equipment can only be used in a careful and proper manner and should not be used in any way that is inconsistent with OWNER's instructions or manuals.<br><br>

    Restrictions on Use: RENTER shall not:<br><br>

    a. Permit the Equipment to be used by any person who is not authorized to use such Equipment;<br><br>
    b. Operate or use the Equipment or permit it to be operated or used in violation of law,<br><br>
    c. Operate or use the Equipment or permit it to be operated or used to commit a violation of law; and/or<br><br>
    d. Operate, use, maintain or store the Equipment in a manner likely to cause damage to the Equipment<br><br>

    8. CONDITION OF EQUIPMENT. The Condition of Equipment Checklist ("Checklist") attached is hereby incorporate by reference. RENTER acknowledges that RENTER has examined the Equipment and that is in good condition except otherwise specified in the Checklist. OWNER MAKES NO WARRANTY, EXPRESS OR IMPLIED, COURSE OF DEALINGS, COURSE OF PERFORMANCE, USAGE OF TRADE OR OTHERWISE. AND EXPRESSLY EXCLUDES AND DISCLAIMS ALL WARRANTIES AND REPRESENTATIONS OF ANY KIND, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.<br><br>

    9. MAINTENANCE OF THE EQUIPMENT. RENTER at its sole expense keeps and maintains the Equipment clean and in good working order and repair during the Rental period. RENTER furnishes any and all parts, mechanisms and devices required to keep the Equipment in good mechanical working order. OWNER on the other hand is available 24/7 and 8 x 5 NBD (Next Business Day) in case technical support is needed by RENTER. The extent of maintenance to be performed by OWNER is only for the Equipment subject of this Agreement. No repair should be done to the Equipment without the written consent and approval of OWNER.<br><br>

    10. DAMAGE AND LOSS. RENTER alerts/informs OWNER for any loss or damage to the Equipment. The RENTER assumes and bears the entire risks of loss, stolen and damage to the Equipment from any and every cause whatsoever. No loss or damage to the Equipment or any part thereof shall impair any obligation of the RENTER under this Agreement which shall continue in full force and effect through the term of the Rental.<br><br>

    In the event of loss or damage of any kind whatever to the Equipment, RENTER at the OWNER'S option:<br><br>

    a. places the same in good repair, condition and working order to 100% valuation price or,<br><br>
    b. replaces the same with like equipment in good repair, condition and working order to be 100% valuation price or,<br><br>
    C. pays the OWNER the replacement cost of the Equipment 100% valuation price 1m<br><br>

    11. POSSESSION & RETURN OF EQUIPMENT. The RENTER is entitled to the possession of the Equipment on the first day of the Rental Term. Upon the expiration or earlier termination of this Agreement, RENTER returns the Equipment to OWNER in good repair, condition and working order, ordinary wear-and-tear resulting from proper use thereof alone excepted by delivering the Equipment at RENTER's cost and expense to such place as OWNER shall specify. Regardless whether the Agreement is Periodic or Term, any delay in the return of the Equipment is charged with an amount equivalent to 50% of hours rental charge per unit for late return of the Equipment or a fraction thereof, Should the Equipment is not returned on said date, the OWNER reserves the right to take any action necessary to regain possession of thev Equipment.<br><br>

    12. TERMINATION. This Agreement shall terminate on the date specified in Section 3. OWNER reserved the right to terminate this Agreement earlier upon notice to the RENTER<br><br>

    13. OWNERSHIP. The Equipment is and shall at all times be and remain, the sole and exclusive property of the OWNER. The RENTER have no right, title or interest therein or thereto except as expressly set forth in this Agreement.<br><br>

    14. DEFAULT. IF RENTER fails to pay any rent or other amount herein provided on agreed due date, or if RENTER fails to observe, keep, return, or perform any other provision of this Agreement required to be observed, kept or performed by RENTER, OWNER shall have the right to exercise any one or more of the following remedies:<br><br>

    a. to declare the entire amount or rent hereunder immediately due and payable without notice or demand to RENTER<br><br>
    b. to sue legal proceed for and recover all rents, and other payments, then accrued or thereafter accruing no return or avoiding out of contact<br><br>
    C. to take possession of the Equipment, without demand or notice, wherever same may be located, without any court order or other process of law. RENTER hereby waives any and all damages occasioned by such taking of possession<br><br>
    d. to terminate this Agreement<br><br>
    e. to pursue any other remedy at law or in equity Notwithstanding any repossession or any other action which OWNER may, RENTER is and remains liable for the full performance of all obligations on the part of the RENTER to be performed under this Agreement. All of OWNER's remedies are cumulative, and may be exercised concurrently or separately.<br><br>

    15. ENTIRE AGREEMENT. This Agreement constitutes the entire Agreement between the Parties and supersedes any prior understanding or representation of any kind preceding the date of this Agreement. There are no other promises, conditions, understandings or other agreements, whether oral or written, relating to the subject matter of this Agreement. This Agreement may be modifies in writing and must be signed by both OWNER and RENTER.<br><br>

    16. NOTICES. Any notice required or otherwise given pursuant to this Agreement should be in writing and mailed certified return receipt requested, postage prepaid, at the address hereinafter set forth, or to such address as such party may provide in writing from time to time.<br><br>

    17. GOVERNING LAWS AND JURISDICTION. This Agreement is governed by, and construed in accordance with the laws of the Philippines. Any dispute arising out of in connection with this Agreement and/or the business, including any question regarding its existence, validity or termination, shall be under the jurisdiction of the appropriate courts in Mandaluyong City, Philippines only to the exclusion of all other venues.<br><br>

    IN WITNESS WHEREOF, the parties have caused this Agreement to be executed the day and year first above written.<br><br>

    I have read, understood, and accept the SNAGP Terms of Trade and I warrant that I am authorized to do so on behalf of my company.<br><br>
</p>



