﻿@{
    ViewData["Title"] = "Landing Page";
}

<div class="text-center">
    <h2>DISCOVER THE TRUSTED CHOICE FOR COMPUTER RENTALS:</h2>
    <h2>A PARTNER WITH RELIABLE PEOPLE AND COMPREHENSIVE INVENTORY</h2><br>
    <h5>
        At RenTech.com, We understand the importance of having reliable technology solutions for your buisness or event. With our extensive inventory of top-of-the-line Computers, Laptops, Tablets and Accessories. 
        You can count on us to meet your rental needs, no matter the scale or scope. Choose confidence, choose us.
    </h5><br>

    <form method="post" action="/Quote/TermsAndConditions">
        <button type="submit" class="btn btn-primary">Request a Quote</button>
    </form>

    <h2>Laptop, PC, AV, & Office Equipment Rentals - Daily, Weekly, or Monthly!</h2><br>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/9e/43/44/9e4344fbf8840d797623bdaedae115e8.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">COMPUTER RENTALS</h5>
                <p class="card-text">Find the perfect solution for your computing requirements with our diverse selection of rental computers! Explore our range, including Windows Desktops, Apple Desktops, All-in-One Computers, and Gaming PCs, tailored to meet your specific needs.</p>
                <a href="#" class="btn btn-primary">View Computer Rentals</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.un.org/pga/wp-content/uploads/sites/99/2020/08/240-2407402_laptop-personal-computer-clip-art-transparent-background-laptop.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">LAPTOP RENTALS</h5>
                <p class="card-text">Discover our extensive collection of laptops featuring top brands such as Dell, HP, and Lenovo. Whether you're tackling short-term business projects or seeking versatile computing solutions, we have the perfect laptop to meet your needs.</p>
                <a href="#" class="btn btn-primary">View Laptop Rentals</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://t4.ftcdn.net/jpg/06/32/25/39/360_F_632253965_iTipLsktEtyKWIUz1V6ZUiOukBO0NeXl.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">MONITOR RENTALS</h5>
                <p class="card-text">Elevate your event or presentation with our comprehensive range of rental audio visual equipment. From TVs and projectors to displays, video walls, touchscreens, kiosks, sound systems, and monitors, we have everything you need to make an impact. Rent now for top-quality gear at competitive rates.</p>
                <a href="#" class="btn btn-primary">View Monitor Rentals</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://static.vecteezy.com/system/resources/thumbnails/025/028/077/small_2x/external-usb-floppy-disk-drive-with-disks-isolated-generative-ai-free-png.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BUY STORAGE DEVICE</h5>
                <p class="card-text">Explore our wide selection of SSDs and HDDs, designed to meet your storage needs with speed and reliability. Shop now to find the perfect storage solution for your device, whether you need lightning-fast performance or ample capacity.</p>
                <a href="#" class="btn btn-primary">View Storages</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://image.similarpng.com/very-thumbnail/2020/06/Printer-on-transparent-background-PNG.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">OFFICE EQUIPMENTS</h5>
                <p class="card-text">From reliable copiers and efficient printers high-quality scanners, we have everything you need to keep your workflow seamless. Explore our multifunctional floor stand models, equipped with advanced features like stapling, sorting, and collating, to handle all your office needs effectively.</p>
                <a href="#" class="btn btn-primary">View Office Rentals</a>
            </div>
        </div>
    </div>
</div>